.footer {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 10px 20px; 
    background-color: #050505; 
    color: white;
    background: linear-gradient(to left, lime 10px, red 50%, cyan);
    position: fixed;
    bottom: 0; 
    left: 0;
    right: 0; 
}
.footer-content {
    flex: 1; 
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin: 0 30px; 
}

.open-cart-btn {
    background-color: #28a745;
    color: white; 
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px;
    text-decoration: none; 
    transition: background-color 0.3s;
}

.open-cart-btn:hover {
    background-color: #218838; 
}
